<IfModule mod_passenger.c>
  PassengerEnabled on
  PassengerAppType node

  PassengerAppRoot /home/etcodewx/uniserveapi.etcodex.com
  PassengerStartupFile dist/index.js
  PassengerNodejs /home/etcodewx/nodevenv/uniserveapi.etcodex.com/20/bin/node

  PassengerEnvVar NODE_ENV production
  PassengerEnvVar CLIENT_ORIGIN "https://uniserve.etcodex.com"
</IfModule>

Options -Indexes
Options -MultiViews
